.container {
  padding: 0 7.813vw;
  width: 100%;
  margin: 0 auto;
}

.site-header {
  position: relative;
  display: flex;
  align-items: end;
  padding: 0 1rem;
  height: calc(#{$base-padding} * 2 + #{$base-margin} + #{$logo-height});
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.site-banner {
  background-color: map-get($bg, 'secondary');
  padding: 1rem;
  color: map-get($text, 'light');
}

.site-logo {
  position: absolute;
  margin-bottom: $base-margin;
  height: $logo-height;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.site-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      &:not(:last-child) {
        margin-right: $base-margin * 2.5;
      }

      a {
        display: inline-block;
        color: map-get($text, 'primary');
        text-decoration: none;
        line-height: 1;
      }
    }
  }
}

#main-menu {
  display: flex;
  align-items: flex-end;

  a {
    margin-bottom: $base-margin;
  }
}

#user-menu {
  margin-left: auto;

  a {
    margin-bottom: $base-margin * 0.65;
  }
}

.site-slider,
.site-footer {
  position: relative;
  &-overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.6) 100%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &-item {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100vh;
      max-height: 880px;
      object-position: center;
      object-fit: cover;
    }
    &-content {
      position: absolute;
      margin-bottom: 136px;
      padding: 0 1rem;
      width: 672px;
      max-width: 100%;
      text-align: center;
      font-size: 1.6rem;
      color: map-get($text, 'light');
      line-height: 1.5;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
    }
    .site-footer-item-content {
      margin-bottom: 72px;
      width: 100%;
    }
  }
}

.site-collections {
  margin-top: 90px;
  &-item {
    margin-bottom: 90px;
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    background-color: $light-grey;
    margin-bottom: 2rem;
    padding: 2.4rem 3.6rem;
    height: 400px;
    [class^="text-"] {
      margin-top: 0;
      margin-bottom: 2rem;
      line-height: 1;
    }
  }
}

.site-product {
  position: relative;
  display: block;
  width: calc(100% / 5 - #{$product-row-gap});
  text-decoration: none;
  &.sale {
    .site-product-image {
      position: relative;
      &:before {
        position: absolute;
        background-color: map-get($bg, 'danger');
        padding: 0.4rem 0.6rem;
        color: map-get($text, 'light');
        line-height: 1;
        content: 'SALE';
        bottom: 1.6rem;
      }
    }
  }
  &-image {
    margin-bottom: 1rem;
    img {
      width: 100%;
    }
  }
  &-info {
    text-align: center;
  }
  &-title {
    font-size: 1.2rem;
  }
  &-price {
    color: $grey;
  }
}

.site-footer {
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-col {
    width: 281px;
  }
  &-contacts {
    padding: 72px 1rem;
    &-menu {
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      a { text-decoration: none; }
    }
  }
}

.product {
  &-content {
    display: flex;
    justify-content: stretch;
  }
  &-gallery {
    display: flex;
    width: 50%;
    &-thumbs {
      margin-right: 1rem;
      button {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        cursor: pointer;
        img {
          display: block;
          width: 116px;
          height: 116px;
          object-fit: cover;
        }
        &.active {
          border: 1px solid;
        }
      }
    }
    &-image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &-info {
    width: 50%;
    padding-left: 100px;
    header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
    }
    &-title {
      margin: 0;
      font-family: 'Gordita', serif;
      font-weight: normal;
      font-size: 2.4rem;
    }
    .button {
      min-width: 95px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 8px;
      &:not(:last-child) {
        margin-right: 4px;
      }
      &.active {
        background-color: $black;
        color: map-get($text, 'light');
        border: 2px solid $black;
      }
    }
  }
  &-price {
    font-size: 1.6rem;
  }
  &-actions {
    .button {
      min-width: 370px;
    }
  }
  &-match {
    &-item {
      &:nth-child(even) {
        margin-left: 1rem;
      }
      width: 50%;
      &-title {
        width: 100%;
        font-size: 1.6rem;
      }
      &-content {
        width: 100%;
      }
    }
  }
}

.expansion-panel {
  overflow: hidden;
  &-content {
    background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    height: 60px;
    &.open {
      background: none;
      -webkit-text-fill-color: $black;
      text-fill-color: $black;
      height: auto;
    }
  }
}

.counter {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem;
  line-height: 1;
  border: 2px solid;
  &-minus,
  &-plus {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    line-height: 1;
  }
  &-number {
    display: inline-block;
    padding: 0;
    width: 40px;
    font-family: 'Gordita', serif;
    font-size: 1rem;
    text-align: center;
    border: 0;
  }
}

.wishlist {
  position: relative;
  input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

// Slick slider custom styles

.slick {
  &-dotted {
    margin-bottom: 0 !important;
  }
  &-dots {
    padding: 28px 0;
    color: map-get($text, 'light');
    border-top: 1px solid currentColor;
    bottom: 0;
    li {
      margin: 0 7.5px;
      button {
        &:before {
          font-size: 18px;
          color: map-get($text, 'light');
          border: 1px solid currentColor;
          content: '';
          border-radius: 50%;
          opacity: 1;
        }
      }
      &.slick-active {
        button {
          &:before {
            background-color: map-get($bg, 'primary');
            color: map-get($text, 'light');
            opacity: 1;
          }
        }
      }
    }
  }
}